// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome{
  text-align:center;
  margin-top: 30px;
}

.sub{
  text-align:center;
}

.content{
  text-align:center;
}

.login{
  text-align:center;
}

.signup{
  text-align:center;
}
.btn{
  display:block;
  width:50%;
}